<!-- 底部导航 -->
<footer class="container-fluid vote-footer-nav navbar-fixed-bottom">
	<div class="row">
		<div class="col-xs-6">
			<div class="footer-nav">
				<a href="{:U('index/index','','',true)}">
					<i class="glyphicon glyphicon-home"></i><br/><span class="">首页</span>
				</a>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="footer-nav">
				<a href="{:U('activities/me','','',true)}">
					<i class="glyphicon glyphicon-user"></i><br/><span class="">我</span>
				</a>
			</div>
		</div>
	</div>
</footer>